<%- include('partials/head', {title: 'Homepage'}) %>
<body>
    <div class="col-xs-12 col-md-10 offset-md-1 col-lg-8 offset-lg-2 col-xl-6 offset-xl-3"
    style="height: 100%;"
    >
        <div style="height: 100%;" class="d-flex flex-column align-items-center justify-content-center">
            <a style="width: 50%;" class="mb-4" href="/room/auth/spotify">
                <button style="width: 100%; height: 10vh;" class="btn btn-lg btn-primary">
                    Create room
                </button>
            </a>

            <a style="width: 50%;" href="/room/join">
                <button style="width: 100%; height: 10vh;" class="btn btn-lg btn-outline-primary">
                    Join room
                </button>
            </a>
        </div>
    </div>

<%- include('partials/footer') %>
