<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Main</title>
</head>
<body>
<form method="post">
    <label for="username">Username</label>
    <input type="text" name="username" id="username">

    <label for="roomId">Room ID</label>
    <input type="text" name="roomId" id="roomId" value="<%= roomId ?? '' %>">

    <input type="submit" value="join">
</form>
</body>
</html>
