<%- include('partials/head', {title: 'Join room'}) %>
<body>
<div class="col-xs-12 col-md-10 offset-md-1 col-lg-6 offset-lg-3 col-xl-4 offset-xl-4"
     style="height: 100%;"
>
    <h1 style="position: fixed; left: 0; top: 7.5vh; font-size: 3rem; text-align: center; width: 100%">Party pilot <i class="bi bi-speaker"></i></h1>

    <div style="height: 100%;" class="d-flex flex-column align-items-center justify-content-center">
        <% if (error !== '') { %>
        <div style="width: 80%;" class="alert alert-danger" role="alert">
            <%= error %>
        </div>
        <% } %>

        <% if (isFacebookBrowser) { %>
            <div style="width: 80%;" class="alert alert-warning" role="alert">
                It looks like you're using the Facebook browser. It is recommended to use a different browser for the best experience in order to not lose your session.
            </div>
        <% } %>

        <form style="width: 80%" method="post">
            <div class="form-floating mb-3">
                <input type="text" class="form-control" id="username" placeholder="Username" name="username">
                <label for="username">Username</label>
            </div>
            <div class="form-floating mb-4">
                <input type="text" class="form-control" id="roomId" placeholder="Room ID" name="roomId" value="<%= roomId %>">
                <label for="roomId">Room ID</label>
            </div>

            <button type="submit" style="width: 100%; height: 10vh;" class="btn btn-lg btn-primary mb-3">
                Join room
            </button>

            <a style="width: 50%;" href="/">
                <button type="button" style="width: 100%; height: 10vh;" class="btn btn-lg btn-outline-primary">
                    Back
                </button>
            </a>
        </form>
    </div>
</div>

<%- include('partials/footer') %>
