<!-- Required DarkMode JavaScript -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap-dark-5@1.1.3/dist/js/darkmode.min.js"></script>

<script>
    const CHOSEN_THEME = localStorage.getItem('TYPE_OF_THEME') || 'dark';

    darkmode.setDarkMode(CHOSEN_THEME === 'dark');
</script>

</body>
</html>
