@import 'bootstrap-dark-5/dist/css/bootstrap.min.css';
@import './styles.scss';

.player-button {
  color: black !important;
  border: 2px solid black;
}

.player-button:before {
  background-color: black;
}
