* {
  padding: 0;
  margin: 0;
}

body {
  font-family: 'Roboto', sans-serif;
  display: flex;
  flex-direction: column;
}

#app {
  /* Prevents player from covering last elements of app body */
  padding-bottom: calc(10vh + 30px);
}

.room-name {
  font-size: 2rem;
  text-align: center;
}

.room-code {
  font-size: 1rem;
  text-align: center;
}

.avatar-sm {
  width: 40px;
  height: 40px;
  margin: 0;
}

.avatar-xs {
  width: 30px;
  height: 30px;
  margin: 0;
}

/* PLAYER */
.music-player {
  background-color: var(--bs-body-bg);

  width: 100vw;
  position: fixed;
  bottom: 0;
  left: 0;
  height: 10vh;
  border-top: 2px solid #282c34;

  display: flex;
  align-items: center;
  justify-content: center;

  z-index: 9999;
}

.player-button {
  height: 70%;
  aspect-ratio: 1 / 1;
  color: white !important;
  margin: 10px;

  border-radius: 50%;
  border: 2px solid white;

  font-size: 2rem;

  display: flex;
  align-items: center;
  justify-content: center;

  background-color: transparent !important;
  position: relative;
  overflow: hidden;
  font-weight: bold;
}

.player-button:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background-color: white;
  transition: all 0.7s;
  z-index: -1;
}

.searching {
  position: fixed;
  top: 20px;
}

.searched-song {
  cursor: pointer;
}

.currently-playing-album-image {
  max-height: 100%;
  object-fit: contain;
  max-width: 40%;
  border-radius: 5px;
}

.search-album-image {
  min-width: 10vh;
  max-width: 10vw;
  border-radius: 5px;
}

.holding:hover:before {
  width: 100%;
}

@keyframes holding-animation {
    0% {
      transform: rotate(0deg);
    }
    80% {
      transform: rotate(400deg);
    }
    100% {
      transform: rotate(360deg);
    }
}
